@import "../node_modules/@navikt/ds-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: var(--navds-semantic-color-canvas-background);
}

.page-wrapper {
  height: auto;
  min-height: 100%;
}

.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 808px;
}
